table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
    border-radius: 8px; /* Скругление углов таблицы */
    overflow: hidden; /* Обрезаем скругленные углы, чтобы они выглядели корректно */
}

th, td {
    padding: 8px;
    border: 1px solid #ccc;
    text-align: center; /* Выравнивание текста по центру */
}

table tr:nth-child(odd) {
    background-color: #f9f9f9;
}

table tr:nth-child(even) {
    background-color: #fff;
}

table tr:hover {
    background: #f1f1f1;
}

th {
    background: #f2f2f2;
}
