<!DOCTYPE html>
<html lang="en">
<head>
    <link text="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link text="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style_admin.css') }}">
    <link text="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">



    <meta charset="UTF-8">
    {% block title -%}
        {% if title -%}
            <title>Про Flask - {{ title }}</title>
        {% else %}
            <title>Про Flask</title>
        {% endif %}
    {% endblock %}



</head>
<body>

    {% block content -%}


        <div class="clear"></div>


        <div class="content">
            {% if title -%}
            <h1>{{ title }}</h1>
            {% else -%}
            <h1>Про Flask</h1>
            {% endif -%}
        </div>


        <nav class="adminmenu">
            {% for m in adminmenu %}
            <a href="{{ m.url }}">{{ m.name }}</a>
            {% endfor %}
        </nav>



    {% endblock -%}

</body>
</html>