{% extends 'base.html' %}

{% block content %}
{{ super() }}
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{ msg }}</div>
{% endfor %}

<h3>Привет, {{ user.last_name }}!</h3>

<h2><p>Содержимое страницы "Админ":</p></h2>

<h3>Информация о пользователях:</h3>

<table>
        <tr>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th>Логин</th>
                <th>Изменить</th>
                <th>Удалить</th>
        </tr>



</table>
<a href="{{url_for('urls.about')}}">Выйти из системы</a>

{% endblock %}